{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    .enhance-btn{
        background-color: #FC0C54 !important;
        border: 5px solid #FC0C54 !important;
        color: #fff !important;
        padding: 15px 40px;
        font-weight: bold;
        font-size: 20px !important;
        border-radius: 10px;
        display: block;
        width: 290px !important;
    }
    .enhance-btn:hover{
        background-color: #fff !important;
        color: #FC0C54 !important;
    }
    
    span{
        display: inline;
    }
    .status-text{

        font-size: large !important;
    }

</style>
{% endblock head %}
{% block content %}
    <!-- Start Hero Area -->
    <section id="home" class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="hero-content">
                        <h1 class="wow fadeInLeft" data-wow-delay=".4s">TRANSFORM YOUR IMAGES.</h1>
                        <p class="wow fadeInLeft" data-wow-delay=".6s">Upload your photos and we improve them for you.</p>
                        <div class="button wow fadeInLeft" data-wow-delay=".8s">
                            <form action="{% url 'index' %}" method="POST" id="image-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label class="custom-file-upload">
                                <input type="file" accept="image/*" name="image" onclick="removeImage()" id="image" onchange="readURL(this);"/>
                                    UPLOAD YOUR PHOTOS
                                </label><br><br>
                                <input type="submit" id="enhance-btn" value="Enhance" class="enhance-btn btn" disabled>
                                <span id="status"></span>
                            </form>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <div class='row'>
                        <div class="col-lg-6 col-md-6 col-6">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                                <span id="display-image">
                                    <img src="{% static 'images/hero/homepage_pic_1.png' %}" alt="#">
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-6">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                                <span id="result-image">
                                    <img src="{% static 'images/hero/homepage_pic_2.png' %}" alt="result-image">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
{% endblock content %}
{% block script %} 
<script>
    $(document).ready(function(){
        $("#image-form").on('submit',function(e) {
            e.preventDefault();
            var form = $(this);
            var formData = new FormData(this)
            console.log(formData)
            var url = form.attr('action'); 
            $("#status").html(`<p class="status-text">Working on enhancement... Please wait...</p>`) 
            $("#enhance-btn").css("display","none");
            $("#result-image").html("")
            $.ajax({
                type: "POST",
                url: url,
                data: formData, 
                success: function(data){
                    $("#result-image").html(`
                            <img src="${data.corrected_url}" alt="#">
                    `)
                    $("#enhance-btn").css("display","inline")        
                    $("#status").html("") 
                },
                error:(err)=>{
                    console.log(err)
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    })
   
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#display-image').html(`<img src="${e.target.result}" alt="#">`)
            };
            reader.readAsDataURL(input.files[0]);    
            $("#enhance-btn").attr("disabled",false)        
        }
        else $("#enhance-btn").attr("disabled",true)        
        
    }
    function removeImage(){
        $("#result-image").html("")
        $("#display-image").html("")
    }

</script>
{% endblock script %}