{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    .enhance-btn{
        background-color: #ff6b81;
        border: 5px solid #ff6b81;
        color: #fff;
        padding: 10px;
        font-weight: bold;
        font-size: large;
        border-radius: 10px;
    }
    .enhance-btn:hover{
        background-color: #fff;
        color: #ff6b81;
    }

</style>
{% endblock head %}
{% block content %}
    <!-- Start Hero Area -->
    <section id="home" class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="hero-content">
                        <h1 class="wow fadeInLeft" data-wow-delay=".4s">TRANSFORM YOUR IMAGES.</h1>
                        <p class="wow fadeInLeft" data-wow-delay=".6s">Upload your photos and we improve them for you.</p>
                        <div class="button wow fadeInLeft" data-wow-delay=".8s">
                        <label class="custom-file-upload">
                        <form action="{% url 'index' %}" method="POST" id="image-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" accept="image/*" name="image" id="image" onchange="readURL(this);"/>
                                UPLOAD YOUR PHOTOS
                            </div>
                            </label><br><br>

                                <input type="submit" id="enhance-btn" value="Enhance" class="enhance-btn btn" disabled>
                            
                        </form>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                        <img src="{% static 'images/hero/homepage_pic.png' %}" alt="#">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                        <img id="display-image" src="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <span id="result-image"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->
{% endblock content %}
{% block script %} 
<script>
    $(document).ready(function(){
        $("#image-form").on('submit',function(e) {
            e.preventDefault();
            var form = $(this);
            var formData = new FormData(this)
            console.log(formData)
            var url = form.attr('action'); 
            $("#enhance-btn").val("Working on enhancement... Please wait...") 
            $("#enhance-btn").attr("disabled",true);
            $("#result-image").html("")
            $.ajax({
                type: "POST",
                url: url,
                data: formData, 
                success: function(data){
                    $("#result-image").html(`
                        <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                            <img src="${data.corrected_url}" alt="#">
                        </div>
                    `)
                    $("#enhance-btn").val("Enhance") 
                    $("#enhance-btn").attr("disabled",false)        
                },
                error:(err)=>{
                    console.log(err)
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    })
   
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#display-image')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);    
            $("#enhance-btn").attr("disabled",false)        
        }
        else $("#enhance-btn").attr("disabled",true)        
        
    }

</script>
{% endblock script %}